<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="https://cdn.auth0.com/styleguide/4.7.5/index.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		title OpenID Connect Playground
		meta(name="description", content="The OIDC playground is for developers to test and work with OpenID Connect calls step-by-step, giving them more insight into how OpenID Connect works.")
		meta(property="og:type", content="website")
		meta(property="og:title", content="OpenID Connect Playground")
		meta(property="og:site_name", content="OpenID Connect Playground")
		meta(property="og:description", content="The OIDC playground is for developers to test and work with OpenID Connect calls step-by-step, giving them more insight into how OpenID Connect works.")
		meta(property="og:url", content="https://openidconnect.net/")
		meta(property="og:image", content="https://openidconnect.net/images/sm-share.png")
		meta(property="og:image:secure_url", content="https://openidconnect.net/images/sm-share.png")
		meta(property="fb:app_id", content="507756515938786")
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@auth0")
		meta(name="twitter:creator", content="@auth0")
		meta(name="twitter:title", content="OpenID Connect Playground")
		meta(name="twitter:description", content="The OIDC playground is for developers to test and work with OpenID Connect calls step-by-step, giving them more insight into how OpenID Connect works.")
		meta(name="twitter:image:src", content="https://openidconnect.net/images/sm-share.png")
		meta(name="twitter:image:width", content="1200")
		meta(name="twitter:image:height", content="630")
		meta(name="google-site-verification", content="tLAuc_2L4oGIS68FVPW-FvFdIxLNYkLBCAb-9PseeWY")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="https://cdn.cookielaw.org/consent/2ba730b0-d578-4b19-b9c0-603eb33056b0.js")
		script(type="text/javascript").
			function OptanonWrapper() { }
			
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){
				w[l]=w[l]||[];
				w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
				var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
				j.async=true;
				j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
				f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-W7FRLJ');

	body
		// Google Tag Manager (noscript)
		noscript
			iframe(src='​"https://www.googletagmanager.com/ns.html?id=GTM-W7FRLJ"', height='​ 0', ​='', width='​ 0', style='​"display:none;visibility:hidden"​')
		// End Google Tag Manager (noscript)

		#content
		.hidden
			input(type="hidden", name="redirect-uri", value=redirect_uri)
			input(type="hidden", name="stateToken", value=state)
			input(type="hidden", name="code", value=code)
			input(type="hidden", name="auth0ClientID", value=clientId)
			input(type="hidden", name="auth0ClientSecret", value=clientSecret)
			
		script(src='index.js')
		script.
			window.clientId=!{JSON.stringify(clientId)};
			window.clientSecret=!{JSON.stringify(clientSecret)};			
		noscript
			iframe(src="//www.googletagmanager.com/ns.html?id=GTM-MTWMQD", height="0", width="0", style="display:none;visibility:hidden")
		script.
			(function(w,d,s,l,i){
				w[l]=w[l]||[];
				w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
				var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
				j.async=true;
				j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
				f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-MTWMQD');
